language:
    - cpp

install:
    - mkdir _build
    - cd _build
    - git clone git@github.com:google/googletest.git
    - cd googletest/googletest/make
    - make
    - cd ../../..
    - cd ..

script:
    - cd tests
    - make && make test

